@font-face {
    font-family: TTlakesMenu;
    src: url(fonts/TTLakes-Medium.ttf);
}
@font-face {
    font-family: TTlakesRegular;
    src: url(fonts/TTLakes-Regular.ttf);
}
html, body {
    background-color: #F8F8F8;
    margin: 0; 
    font-size: 16px;
}
.header--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 30px 25px;
    gap: 16px;
    background-color: white;
}
.header_left, .header_right {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.service-header h1 {
    color: hsl(0, 0%, 0%);
    margin: 0;
    font-size: 1.5rem;
}
.service-header {
    margin-left: 1px;
    padding-left: 34px;
    border-left: #41F6D7 solid 2px;
    font-family: TTlakesMenu;

}
.header__status-icons h2{
    font-size: 1rem;
    font-weight: medium;
    color: #000000;
    margin: 0;
    font-family: TTlakesregular;
}

.header__status-icons {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__status-item {
    display: flex;
    gap: 8px;
    align-items: center;
}
.header__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    white-space: nowrap;
}
.nav__list {
    display: flex;
    margin: 10px 10px 5px 32px;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    white-space: nowrap;
}
.nav__list a {
    font-size: 1rem;
    display: inline-block;
    color: #7E7E82;
    text-decoration: none;
    font-family: TTlakesRegular;
    padding: 8px 15px;
    border: transparent solid 2px;
}
.nav__list a:hover {
    border: #41F6D7 solid 2px;
    border-radius: 6px;
}
.service {
    display: flex;
    width: 100%;
}

.service_description {
    padding: 32px;
    font-family: TTlakesRegular;
    font-size: 0.875rem;
    color: #000000;
    white-space: normal;
    width: 50%;
}
.button--readmore {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 16px;
    font-family: TTlakesMenu;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}
.service_image {
    display: flex;
    width: 50%;
    height: 100%;
    margin-top: 32px;
    margin-right: 25px;
}
.arrow {
    margin-right: 8px;
}

@media (min-width:1119px) {
    .header--mobile {
        display: none;
    }
    .service__text--tablet, .service-text-mobile {
        display: none;
    }
    .scroll-container::-webkit-scrollbar {
        display: none;
    }
    .header__status-icons {
        display: flex;
    }
    .service-main {
        width: 100%;
        flex-wrap: nowrap;
    }
    .service_description {
        width: 50%;
        padding: 32px;
    }
    .service_image {
        width: 50%;
        height: 100%;
        margin-top: 32px;
        margin-right: 25px;
    }
}
@media (min-width: 768px) and (max-width: 1119px) {
    .header--mobile {
        display: flex;
    }
    .service__text--tablet {
        display: unset;
    }
    .service-text-mobile, .service__text--desktop {
        display: none;
    }
    .header__status-icons {
        display: none;
    }
    .nav__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .scroll-container::-webkit-scrollbar {
        display: unset;
    }
    .service-main {
        width: 100%;
        flex-wrap: nowrap;
    }
    .service_description{
        width: 50%;
        padding: 32px;
    }
    .service_image {
        width: 50%;
        height: 100%;
        margin-top: 32px;
        margin-right: 25px;
    }
}
@media (max-width: 767px) {
    .tablet-only {
        display: none;
    }
    .header__status-icons {
        display: none;
    }
    .header_left, .header_right {
        flex-wrap: nowrap;
    }
    .header--mobile {
        padding: 10px;
    }
    .main-info {
        margin-right: 0;
    }
    .service__text--tablet, .service__text--desktop {
        display: none;
    }
    .service-text-mobile {
        display: unset;
    }
    .service {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service_description{
        width: 100%;
        padding: 25px;
    }
    .service_image {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-right: 0;
    }
    .nav__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .scroll-container::-webkit-scrollbar {
        display: unset;
    }
}